<header class="header">
    <a href="#" class="logo">
      <img src="assets/images/logo.png" alt="Yemek23 Logo">
    </a>
    <nav class="navbar">
      <a routerLink="/index" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Anasayfa</a>
      <a routerLink="/restaurant" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Restoranlar</a>
      <a routerLink="/favorite" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Favori Restoranlarım</a>
      <a routerLink="/signin" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Giriş Yap</a>
      <a routerLink="/register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Kaydol</a>
    </nav>
    <div class="buttons">
      <button id="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </header>
  <router-outlet></router-outlet>